html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  margin: 5px;
}

.card-header {
  text-align: end;
}

.navbar {
  padding: 6px;
}

.forecast {
  text-align: center;
  min-width: 150px !important;
}

.forecast_icon {
  height: 80px;
}

.forecast_description {
  height: 30px;
  overflow-wrap: initial;
}

h1 {
  font-weight: bold !important;
  font-size: 50pt !important;
}

h2 {
  font-weight: bold !important;
  font-size: 20pt !important;
}

.weather_icon {
  text-align: center;
}

.weather_icon img {
  margin: -50px;
}

.dropdown-menu {
  max-height: 400px;
  width: 248px;
  overflow-y: auto;
}

.spinner_card {
  text-align: center;
}